.main-container,
.grid-view-container,
.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: max-content;
  position: relative;
  top: 30px;
}
.file-input-container {
  flex-direction: row;
  gap: 50px;
}
.file-input-button {
  height: 7vh;
  min-height: 40px;
  max-height: 65px;
  width: 15vw;
  min-width: 200px;

  border: 2px solid rgb(7, 75, 151);
  border-radius: 5vh;
  background-color: #6bb8f7;
  color: white;
  box-shadow: 0px 9px 3px -2px rgb(67, 105, 133);

  font-size: 25px;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}

.file-input-button:hover {
  background-color: #9fd4ff;
}

.file-input-button:active {
  background-color: #6bb8f7;
  box-shadow: none;
  position: relative;
  top: 6px;
}

.save-button {
  border: 2px solid rgb(7, 75, 151);
  border-radius: 5vh;
  background-color: white;
  color: #6bb8f7;
  box-shadow: 0px 9px 3px -2px rgb(67, 105, 133);
}
.save-button:hover {
  background-color: #a0d0f234;
  color: rgb(39, 112, 195);
}

.grid-view-container {
  display: grid;
  gap: 10px;
  width: 80vw;
  position: relative;
  top: 100px;
  overflow: scroll;
}

.row-grid-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  min-width: 1000px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #6bb8f7;
  border-radius: 10px;

  height: 5vh;
  width: 100%;
  min-width: 1000px;
}

.header-item {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;

  box-sizing: border-box;
  width: 8vw;
  height: 100%;
  padding: 10px;
  min-width: max-content;

  text-align: center;
}

.cell {
  width: 8vw;
  height: 40px;
  border: 2px solid rgb(7, 75, 151);
  border-radius: 5px;

  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #06074b;
}

.cell:hover {
  background-color: #b5daf981;
}

.button {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(7, 75, 151);
  border-radius: 50%;
  padding: 0;
  margin: 8px;

  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #06074b;
  background-color: #6bb8f7;
}
